/* 整体容器 */
.otw-settings {
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-primary);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* 标题样式 */
.otw-settings h2 {
    margin: 20px 0;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--background-modifier-border);
    font-size: 1.6em;
    color: var(--text-normal);
}
